body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

p {
  color: #434455;
}

h2,
h3 {
  color: #2e2f42;
}

.section,
.footer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  width: 288px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media (min-width: 1158px) {
  .container {
    width: 1128px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ==============HEADER================ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 56px;
}

.header > .container {
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  display: none;
}

.header-contact-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.header-logo-second-text {
  color: #2e2f42;
}

.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  font-style: normal;
  display: none;
  align-items: center;
}

.header-contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
}

.header-menu-item.active a {
  position: relative;
  color: #404bbf;
}

.header-menu-item.active a::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menu-open-btn > svg {
  vertical-align: middle;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 40px 16px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  justify-content: space-between;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
}

.menu-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}

.menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-navigation {
  margin-bottom: 168px;
}

.mob-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-item.active {
  color: #404bbf;
}

.mob-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-contact-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-contact-item:first-child .mob-contact-link {
  color: #4d5ae5;
}

.mob-item-social-links {
  display: flex;
  justify-content: space-between;
}

.mob-social-link {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link > .icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.mob-item-social-links {
  display: flex;
  gap: 16px;
}

.mob-social-link:hover,
.mob-social-link:focus {
  background-color: #31d0aa;
}

@media (min-width: 768px) {
  .header {
    height: 72px;
  }

  .menu-open-btn {
    display: none;
  }

  .header-menu-list {
    display: flex;
  }

  .header-contact {
    display: flex;
  }
}

@media (min-width: 1158px) {
  .header {
    height: 72px;
  }

  .header-contact-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }

  .header-navigation {
    margin-right: auto;
    margin-left: 76px;
  }
}

/** ============================== */

/** ==============HERO================ */

.section-hero > .container {
  padding: 0 45px;
}

.section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/main-bg-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 72px 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/main-bg-mobile-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
}

.hero-btn {
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-wrap {
  padding: 66px 0;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

@media (min-width: 768px) {
  .section-hero > .container {
    padding: 0 120px;
  }

  .section-hero {
    .section-hero {
      padding: 112px 0;
    }
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/main-bg-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/main-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 107%;
    margin-bottom: 36px;
  }
}

@media (min-width: 1158px) {
  .section-hero > .container {
    padding: 0 316px;
  }

  .section-hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/main-bg-desktop.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/main-bg-desktop-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 107%;
    margin-bottom: 48px;
  }
}

/** ============================== */

/** ==============SKILLS================ */

.skills-item-image {
  height: 112px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.section-skills {
  background-color: #fff;
  padding: 96px 0;
}

.skills-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.skills-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
}

@media (min-width: 768px) {
  .skills-item {
    width: calc((100% - 24px) / 2);
  }

  .skills-item-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .section-skills {
    padding: 120px 0;
  }

  .skills-item {
    width: calc((100% - 72px) / 4);
  }

  .skills-item-image {
    display: flex;
  }

  .skills-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .skills-item-text {
    font-weight: 400;
  }
}
/** ============================== */

/** ==============TEAM================ */

.section-team {
  background-color: #f4f4fd;
  padding-top: 92px;
  padding-bottom: 72px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
  align-content: center;
  justify-content: center;
}

.team-item {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
}

.team-item-image {
  width: 100%;
}

.team-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-item-social-links {
  display: flex;
  gap: 24px;
}

.team-social-link {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-link > .icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

@media (min-width: 768px) {
  .section-team {
    padding: 96px 0;
  }

  .section-team > .container {
    width: 552px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }

  .section-team > .container {
    width: 1128px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/** ============================== */

/** ==============PORTFOLIO================ */
.section-portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-image {
  width: 100%;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover div > p {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.portfolio-image-card {
  position: relative;
  overflow: hidden;
}

.portfolio-image-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/** ============================== */

/** ==============FOOTER================ */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  row-gap: 72px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.footer-logo-second-text {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-item-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-link {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link > .icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-item-social-links {
  display: flex;
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-feedback {
  display: flex;
  flex-direction: column;
}

.footer-feedback-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-feedback-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-feedback-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.3;
}

.footer-feedback-input::placeholder {
  color: #ffffff;
}

.footer-feedback-btn {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-feedback-btn .icon {
  margin-left: 16px;
}

.footer-feedback-form {
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .footer-container {
    justify-content: left;
    padding-left: 92px;
    column-gap: 24px;
  }

  .footer-feedback-form {
    gap: 24px;
  }

  .footer-content {
    align-items: flex-start;
    width: 264px;
  }

  .footer-social {
    align-items: flex-start;
    width: calc((100% - 24px) / 2);
  }

  .footer-feedback {
    width: 100%;
    align-items: flex-start;
  }
}

@media (min-width: 1158px) {
  .footer-container {
    padding-left: 0;
    justify-content: space-between;
  }

  .footer-content {
    width: 264px;
  }

  .footer-social {
    width: auto;
  }

  .footer-feedback {
    width: auto;
  }

  .footer-feedback-form {
    flex-wrap: nowrap;
  }
}

/** ============================== */

/** ===========Modal============== */
.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  max-width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 16px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.check-text {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.user-privacy-custom-check {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  display: block;
  margin: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-field:nth-last-of-type(2) {
  margin-bottom: 16px;
}

.modal-form .modal-field:last-of-type {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
/** ============================== */
